<div class="sm:col-span-2">
  <label class="form__label">
    Integration
    <div class="mt-1">
      <select name="q[integration_id_eq]" class="form__input">
        <option></option>
        <%= options.each do |option| %>
        <option value="<%= option.id %>"><%= option.name %></option>
        <% end %>
      </select>
    </div>
  </label>
</div>
