<%= turbo_frame_tag :contextual_form do %>
  <div data-combobox-component--combobox-component-target="contextualForm" class="max-w-2xl">
    <form method="dialog">
      <div class="px-4 py-5 sm:p-6">
        <div class="space-y-8 divide-y divide-gray-200">
          <div>
            <div>
              <h3 class="text-lg font-medium leading-6 text-gray-900">Account information</h3>
              <p class="mt-1 text-sm text-gray-500">
                 An asset, liabilitie, income, expense, or equity, as represented by individual ledger pages, to which changes in value are chronologically recorded with debit and credit entries.
              </p>
            </div>

            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
              <div class="sm:col-span-6">
                <label class="form__label">Section</label>

                <div class="mt-1">
                  <select class="form__input" data-combobox-component--combobox-component-target="returnValue" data-name="classification">
                    <%= Account.classification.values.each do |classification| %>
                      <option value="<%= classification %>"><%= classification.capitalize %></option>
                    <% end %>
                  </select>
                </div>
              </div>

              <div class="sm:col-span-2">
                <label class="form__label">Reference</label>

                <div class="mt-1">
                  <input type="text" class="form__input" data-combobox-component--combobox-component-target="returnValue" data-name="reference" />
                </div>
              </div>

              <div class="sm:col-span-4">
                <label class="form__label">Display name</label>

                <div class="mt-1">
                  <input type="text" class="form__input" data-combobox-component--combobox-component-target="returnValue" data-name="name" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal__footer">
        <button value="confirm" data-combobox-component--combobox-component-target="confirmButton" class="button button--primary">Save</button>
        <button value="cancel" class="button button--neutral">Cancel</button>
      </div>
    </form>
  </div>
<% end %>
