<div class="
w-3
h-3

border-gray-100
border-indigo-100
border-cyan-100
border-red-100
border-yellow-100
border-green-100

border-gray-500
border-indigo-500
border-cyan-500
border-red-500
border-yellow-500
border-green-500

bg-gray-100
bg-indigo-100
bg-cyan-100
bg-red-100
bg-yellow-100
bg-green-100

text-gray-800
text-indigo-800
text-cyan-800
text-red-800
text-yellow-800
text-green-800

xl:grid-cols-2
xl:grid-cols-3
xl:grid-cols-4
xl:grid-cols-5

animate-fade-out
animate-confirm-open-confirm-dialog
animate-confirm-close-confirm-dialog
"></div>
