<div class="sm:col-span-2">
  <label class="form__label">
    Date
    <div class="mt-1">
      <input name="q[date_eq]" type="date" class="form__input" value="<%= @date %>" />
    </div>
  </label>
</div>
