<div class="text-center grid gap-8 text-3xl">
<div class="text-center grid gap-8 text-3xl">
  <%= inline_svg_tag 'logo-mono', class: 'h-80 fill-slate-300 mx-auto hover:fill-primary' %>
  The Shoebox is coming soon.
</div>
