<!DOCTYPE html>
<html>
  <body style="font-family: system-ui, Segoe UI, Helvetica Neue, sans-serif; background-color: #dae1e7; color: #606f7b; line-height: 22px;">
    <div style="max-width: 480px; margin: auto; background-color: #fff; border-radius: 4px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);">
      <div style="border-radius: 4px 4px 0 0; height: 4px; background-image: -webkit-gradient(linear, left top, right top, from(#382b5f), to(#9561e2)); background-image: linear-gradient(to right, #382b5f 0%, #9561e2 100%);"></div>

      <div style="padding: 30px 40px 20px 40px;">
        <div style="text-align: center; margin-bottom: 40px;">
          <img src="https://assets.ninetyfour.io/logoname.png" />
        </div>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
